#background {
  background-image: url("images/cloudy_sky.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 7.5vh;
  padding-left: 10vw;
  padding-right: 10vw;

}

.bg-pop {
  background-image: url("images/highlight.png");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 50px 0 rgb(142, 142, 142) inset, -10px -10px 50px 0 rgb(142, 142, 142) inset;
  width: auto;
  height: 50vh;
}

.zach-nav {
  height: 15vh;
  z-index: 750;
  background: rgba(245, 245, 245, 0.187)
}

.btn-smilies {
  background-color: #0D3b66;
  color: white;
}

.btn-extra {
  background-color: #EF8354;
  color: white;
}

.btn-mods {
  background-color: #F0544F;
  color: white;
}

.header-col {
  background-color: whitesmoke;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: center
}

.footer-row {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center
}